<?xml version="1.0" encoding="UTF-8"?>
<iqser>
	<plugin>
		<id>net.sf.iqser.plugin.mail</id>
		<!-- Modify the type in your iqser configuration, if necessary -->
		<type>Mail-Server</type>
		<name>Mail Web Plugin</name>
		<vendor>IQser Technologies</vendor>
		<provider-class>
			net.sf.iqser.plugin.mail.MailServerContentProvider
		</provider-class>
		<!-- Use a Cron formatted string to define the synchronisation schedule. -->
		<scheduler> 
			<syncjob>0 5 * * * ?</syncjob> 
			<housekeeperjob>0 0 23 * * ?</housekeeperjob> 
		</scheduler> 
		<init-param>
			<init-param>
			<!-- mail server address -->
			<param-name>MAIL_SERVER</param-name>
			<param-value></param-value>
		</init-param>
			<!-- mail server user -->
			<param-name>USERNAME</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<!-- mail server user password -->
			<param-name>PASSWORD</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<!-- flag for secured connection (string) -->
			<param-name>SSL-CONNECTION</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<!-- the port that the client creates a secured connection with
			server (by default 993) -->
			<param-name>SSL-PORT</param-name>
			<param-value><!-- 993 --></param-value>
		</init-param>
			<init-param>
			<!-- attribute mappings for certain parameters extracted by the
			mail api in json format -->
			<param-name>ATTRIBUTE.MAPPINGS</param-name>
			<param-value><!--{attr1:new_attr1,attr2:new_attr2}  --></param-value>
		</init-param>
			<init-param>
			<!-- the attributes that are changed to key-attributes -->
			<param-name>KEY-ATTRIBUTES</param-name>
			<param-value><!-- [attr1][attr2] --></param-value>
		</init-param>
			<init-param>
			<!-- the folders that are taken from the email server by default it 
			is taken only the INBOX -->
			<param-name>EMAIL-FOLDER</param-name>
			<param-value><!-- [folder1][folder2] --></param-value>
		</init-param>
	</plugin>
</iqser>